.App {
    position: relative;
}

// Menu Section

menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        img {
            width: 1.7rem;
        }
    }

    ul {
        list-style: none;
        display: flex;
        gap: 4.5rem;
    }

    .toggle {
        display: flex;
        gap: .6rem;
        flex-direction: column;
        cursor: pointer;

        span {
            width: 1.5rem;
            height: 2px;
            border: none;
            transition: rotate .5s ease-in-out 0s, transform .5s ease-in-out 0s;

            &:nth-child(1) {
                background-color: var(--color-orange);
            }
            &:nth-child(2) {
                background-color: var(--color-black);
            }
        }

        &:hover {
            span {
                &:nth-child(1) {
                    rotate: 45deg;
                    transform: translateY(.5rem);
                }
                &:nth-child(2) {
                    rotate: -45deg;
                    transform: translateY(-.5rem);
                }
            }
        }
    }

    .menu_smallscreen{
        display: none;

        .menu_smallscreen_overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: var(--color-black);
            transition: 0.5s ease;
            flex-direction: column;
            z-index: 5;
        
        }
    }
    
    
    
    .menu_smallscreen-links{
        list-style: none;
    }
    
    .menu_smallscreen-links li{
        margin: 2rem;
        cursor: pointer;
        color: var(--color-golden);
        font-size: 2rem;
        text-align: center;
        font-family: var(--font-base);
    }
    
    .menu_smallscreen-links li:hover{
        color: var(--color-white);
    }
    
    @media screen and (max-width: 2000px){
        .app__navbar-logo img{
            width: 210px;
        }
    }
    
    @media screen and (max-width: 1150px) {
        .app__navbar-links{
            display: none;
        }
        // .menu_smallscreen{
        //     display: flex;
        // }
    }
    
    @media screen and (max-width: 650px){
        .app__navbar-logo img{
            width: 110px;
        }
        .app__navbar-login{
            display: none;
        }
        .app__navbar{
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 700px) {
    .menu {
        ul {
            display: none;
        }
    }
}

// App Banner

.app__banner {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 80vh;
        z-index: -10000;
        background-color: var(--light-gray);
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h1 {
            font-size: 13vw;
            font-weight: 400;
            line-height: 10vw;
            margin-bottom: 3rem;
            letter-spacing: -1px;
            
        }

        .buttons {
            display: flex;
            gap: .8rem;

            button {
                border: 1px solid var(--dark-gray);
                padding: .6rem 1.3rem;
                display: flex;
                gap: .6rem;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                font-weight: 500;
                border-radius: 50px;
                transition: background-color .5s ease-in-out 0s;

                .icon {
                    font-size: 1.4rem;
                    border: none;
                    transition: color .5s ease-in-out 0s;
                }

                &:hover {
                    &:nth-child(1) {
                        background-color: var(--color-white);
                        color: var(--color-black);
                        .icon {
                            color: var(--color-black);
                        }
                    }

                    &:nth-child(2) {
                        background-color: var(--color-black);
                        color: var(--color-white);
                        .icon {
                            color: var(--color-orange);
                        }
                    }
                    
                }
            }


        }

        p {
            max-width: 13.5rem;
            font-size: 1rem;
        }

        .pictures {
            display: flex;
            gap: .8rem;

            img {
                width: 8.2rem;
                height: 8.2rem;
            }
        }

        .other {
            display: none;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        text-align: end; 
        justify-content: space-between;
        align-items: flex-end;
        
        p {
            font-size: 1.1rem;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 23rem;
            max-height: 30rem;
            top: 16.3rem;
            right: 12rem;
            transform: scaleX(-1);
            z-index: -999;
        }

        button {
            width: fit-content;
            border: none;
        }
    }
}


// Responsivenss
@media screen and (max-width: 1200px){
    .app__banner {
        .right {
            img {
                right: 10%;
                max-width: 18rem;
                max-height: 25rem;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .app__banner {
        .right {
            img {
                height: 23 rem;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .app__banner {
        .right {
            img {
                top: 12rem;
                height: 25rem;
            }
        }

        .left {
            h1 {
                font-size: 11vw;
                margin-bottom: 0;
            }

            .buttons {
                button {
                    padding: .4rem .8rem;
                    gap: .2rem;
                    p {
                        font-size: .8rem;
                    }

                    .icon {
                        font-size: .9rem;
                    }
                }
            }
            p {
                font-size: .8rem;
            }
    
            .pictures {
                display: flex;
                gap: .6rem;
    
                img {
                    width: 6rem;
                    height: 6rem;
                }
            }
            
        }
    }
}

@media screen and (max-width: 700px){
    .app__banner {
        flex-direction: column-reverse;
        .right {
            p {
                display: none;
            }
            img {
                position: relative;
                top: 2rem;
                right: 0;
                height: 25rem;
            }

            button {
                display: none;
            }
        }

        .left {
            gap: 1rem;
            h1 {
                font-size: 14vw;
                letter-spacing: 0px;
                margin-bottom: 1rem;
                font-weight: 500;
            }

            .original {
                display: none;
            }
            .other {
                display: flex;
            }

            .buttons {
                width: 100%;
                justify-content: space-between;
                button {
                    // padding: .4rem .8rem;
                    width: inherit;
                    gap: .4rem;
                    align-items: center;
                    justify-content: center;
                    p {
                        font-size: .8rem;
                    }

                    .icon {
                        font-size: .9rem;
                    }
                }
            }
            p {
                font-size: .8rem;
            }
    
            .pictures {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: .6rem;
                top: 6rem;
    
                img {
                    width: 7rem;
                    height: 7rem;
                }
            }
            
        }
    }
}